name: docker-steps
on: 
  push:
    
jobs:
  docker-steps:
    runs-on: ubuntu-18.04
    steps:
      - name: docker node
        uses: docker://node:12.14.1-alpine3.10
        with:
          entrypoint: /bin/echo
          args: "hello"
      - name: docker entry script
        uses: docker://node:12.14.1-alpine3.10
        with:
          entrypoint: ./script.sh
          args: "world 2"