name: shell commands
on: [push]
jobs:
  checkout-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout git repo
        uses: actions/checkout@v2
        with:
          ref: master
  mac-jobs:
    runs-on: macos-latest
    steps:
      - name: echo step
        run: echo "helloworld"
      - name: multiline step
        run: |
          node -v
          npm -v
          date
  windows-job:
    runs-on: windows-latest 
    needs: ["mac-jobs"]
    steps:
      - name: windows commands
        run: |
          ipconfig
          dir
        shell: cmd
  actions-job:
    runs-on: ubuntu-latest
    steps:
      - name: run a third party action
        id: js-action
        uses: actions/hello-world-javascript-action@v1
        with: 
          who-to-greet: pusa
      - name: get a value from above step
        run: echo "${{ steps.js-action.outputs.time }}"
      


